POSTGRES_NAME='postgres_name'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='parol'
POSTGRES_HOST='host'
POSTGRES_PORT=Port


DJANGO_SECRET_KEY='SECRET_KEY'

ADMIN_ID='Admin_id'
TELEGRAM_BOT_TOKEN='Token'


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=sizningAccount@gmail.com
EMAIL_HOST_PASSWORD='xxxx xxxx xxxx xxxx'
