aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
boto3==1.43.22
botocore==1.43.22
cachetools==6.2.6
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
cryptography==48.0.0
deprecation==2.1.0
dj-database-url==3.1.2
django==6.0.5
django-cors-headers==4.9.0
django-filter==25.2
django-storages==1.14.6
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
djangorestframework-stubs==3.17.0
drf-spectacular==0.29.0
fakeredis==2.35.1
fakeredis-fix==0.4.1
frozenlist==1.8.0
fsspec==2026.4.0
gunicorn==26.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.16
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
magic-filter==1.0.12
markdown-it-py==4.2.0
mdurl==0.1.2
mmh3==5.2.1
multidict==6.7.1
packaging==26.2
pillow==12.2.0
postgrest==2.30.1
propcache==0.5.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-settings==2.14.1
pygments==2.20.0
pyiceberg==0.11.1
pyjwt==2.12.1
pyparsing==3.3.2
pyroaring==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyyaml==6.0.3
realtime==2.30.1
redis==7.4.0
referencing==0.37.0
requests==2.34.2
rich==14.3.4
rpds-py==0.30.0
s3transfer==0.18.0
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.5
storage3==2.30.1
strenum==0.4.15
strictyaml==1.7.3
supabase==2.30.1
supabase-auth==2.30.1
supabase-functions==2.30.1
tenacity==9.1.4
types-pyyaml==6.0.12.20260518
typing-extensions==4.15.0
typing-inspection==0.4.2
uritemplate==4.2.0
urllib3==2.7.0
websockets==15.0.1
yarl==1.24.2
zstandard==0.25.0
